<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Ejercicio final</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <app-menu-publico *ngIf="!authService.isLogged()"></app-menu-publico>
    <app-menu-admin *ngIf="authService.isLogged() && authService.isAdmin()"></app-menu-admin>

</nav>


<router-outlet></router-outlet>
